{% extends 'webapp/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog Grid || MechanicHub || Responsive HTML 5 Template</title>

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- master stylesheet -->
	<link rel="stylesheet" href="../../static/webapp/mechanichub-pack/Html-File/css/style.css">
	<!-- Responsive stylesheet -->
	<link rel="stylesheet" href="../../static/webapp/mechanichub-pack/Html-File/css/responsive.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/webapp/mechanichub-pack/Html-File/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../../static/webapp/mechanichub-pack/Html-File/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../static/webapp/mechanichub-pack/Html-File/images/favicon/favicon-16x16.png" sizes="16x16">

    <!-- Fixing Internet Explorer-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="../../static/webapp/mechanichub-pack/Html-File/js/html5shiv.js"></script>
    <![endif]-->
    
</head>
<body>
<div class="boxed_wrapper">

<!--Start Preloader -->
<div class="preloader"></div>
<!--End Preloader --> 

<!--Start top bar area-->
{% block top-bar-area %}
{% endblock %}
<!--End top bar area-->  

<!--Start mainmenu area-->
{% block mainmenu %}
{% endblock %}
<!--End mainmenu area-->

<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(../../static/webapp/mechanichub-pack/Html-File/images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Blog Grid Layout</h1>
	            </div>
	        </div>
	    </div>
	</div>
    <div class="breadcrumb-botton">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="left">
                        <li><a href="{% url 'webapp:home' %}">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">Blog Grid</li>
                    </ul>   
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area--> 

<!--Start blog area-->
<section id="blog-area" class="blog-grid-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post">
                    <div class="row">
                        <!--Start single blog item-->
                        <div class="col-md-4">
                            <div class="single-blog-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/blog/blog-grid-1.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:blog-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <a href="{% url 'webapp:blog-single' %}">
                                        <h3 class="blog-title">Simulation of Customers’ Booking Behavior...</h3>
                                    </a>
                                    <div class="text">
                                        <p>Simulation helps us out when we want to find out more about a crystal ball helping a wizard predict the future.</p>
                                    </div>
                                    <ul class="meta-info">
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Jacky</a></li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 58 Views</a></li>
                                        <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 10 Comments</a></li>
                                    </ul>
                                </div>    
                            </div>    
                        </div>
                        <!--End single blog item-->
                        <!--Start single blog item-->
                        <div class="col-md-4">
                            <div class="single-blog-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/blog/blog-grid-2.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:blog-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <a href="{% url 'webapp:blog-single' %}">
                                        <h3 class="blog-title">Get Some Usefull Car Maintanence Tips From Our Expets</h3>
                                    </a>
                                    <div class="text">
                                        <p>How all this mistaken ideas of denouncings and praising pains ut was born and I will give you a complete account of the system.</p>
                                    </div>
                                    <ul class="meta-info">
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Mano</a></li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 95 Views</a></li>
                                        <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 5 Comments</a></li>
                                    </ul>
                                </div>    
                            </div>    
                        </div>
                        <!--End single blog item-->
                        <!--Start single blog item-->
                        <div class="col-md-4">
                            <div class="single-blog-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/blog/blog-grid-3.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:blog-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <a href="{% url 'webapp:blog-single' %}">
                                        <h3 class="blog-title">High Quality Cars Only We Selling to Our Customers</h3>
                                    </a>
                                    <div class="text">
                                        <p>Pleasure and praising pains was born and I will give you a complete account of the system, and expound the actuathe</p>
                                    </div>
                                    <ul class="meta-info">
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Elliot</a></li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 60 Views</a></li>
                                        <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 15 Comments</a></li>
                                    </ul>
                                </div>    
                            </div>    
                        </div>
                        <!--End single blog item-->
                    </div>
                    <div class="row">
                        <!--Start single blog item-->
                        <div class="col-md-4">
                            <div class="single-blog-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/blog/blog-grid-4.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:blog-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <a href="{% url 'webapp:blog-single' %}">
                                        <h3 class="blog-title">Get Some Usefull Car Maintanence Tips From Our Expets</h3>
                                    </a>
                                    <div class="text">
                                        <p>How all this mistaken ideas of denouncings and praising pains ut was born and I will give you a complete account of the system.</p>
                                    </div>
                                    <ul class="meta-info">
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Henry</a></li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 25 Views</a></li>
                                        <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 15 Comments</a></li>
                                    </ul>
                                </div>    
                            </div>    
                        </div>
                        <!--End single blog item-->
                        <!--Start single blog item-->
                        <div class="col-md-4">
                            <div class="single-blog-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/blog/blog-grid-5.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:blog-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <a href="{% url 'webapp:blog-single' %}">
                                        <h3 class="blog-title">High Quality Cars Only We Selling to Our Customers</h3>
                                    </a>
                                    <div class="text">
                                        <p>Pleasure and praising pains was born and I will give you a complete account of the system, and expound the actuathe</p>
                                    </div>
                                    <ul class="meta-info">
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Elliot</a></li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 60 Views</a></li>
                                        <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 15 Comments</a></li>
                                    </ul>
                                </div>    
                            </div>    
                        </div>
                        <!--End single blog item-->
                        <!--Start single blog item-->
                        <div class="col-md-4">
                            <div class="single-blog-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/blog/blog-grid-6.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:blog-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <a href="{% url 'webapp:blog-single' %}">
                                        <h3 class="blog-title">Simulation of Customers’ Booking Behavior...</h3>
                                    </a>
                                    <div class="text">
                                        <p>Simulation helps us out when we want to find out more about a crystal ball helping a wizard predict the future.</p>
                                    </div>
                                    <ul class="meta-info">
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Elliot</a></li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 60 Views</a></li>
                                        <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 15 Comments</a></li>
                                    </ul>
                                </div>    
                            </div>    
                        </div>
                        <!--End single blog item-->
                    </div>
                    <div class="row">
                        <!--Start single blog item-->
                        <div class="col-md-4">
                            <div class="single-blog-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/blog/blog-grid-7.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:blog-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <a href="{% url 'webapp:blog-single' %}">
                                        <h3 class="blog-title">High Quality Cars Only We Selling to Our Customers</h3>
                                    </a>
                                    <div class="text">
                                        <p>Pleasure and praising pains was born and I will give you a complete account of the system, and expound the actuathe.</p>
                                    </div>
                                    <ul class="meta-info">
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Henry</a></li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 25 Views</a></li>
                                        <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 15 Comments</a></li>
                                    </ul>
                                </div>    
                            </div>    
                        </div>
                        <!--End single blog item-->
                        <!--Start single blog item-->
                        <div class="col-md-4">
                            <div class="single-blog-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/blog/blog-grid-8.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:blog-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <a href="{% url 'webapp:blog-single' %}">
                                        <h3 class="blog-title">Simulation of Customers’ Booking Behavior...</h3>
                                    </a>
                                    <div class="text">
                                        <p>Pleasure and praising pains was born and I will give you a complete account of the system, and expound the actuathe</p>
                                    </div>
                                    <ul class="meta-info">
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Elliot</a></li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 60 Views</a></li>
                                        <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 15 Comments</a></li>
                                    </ul>
                                </div>    
                            </div>    
                        </div>
                        <!--End single blog item-->
                        <!--Start single blog item-->
                        <div class="col-md-4">
                            <div class="single-blog-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/blog/blog-grid-9.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:blog-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder">
                                    <a href="{% url 'webapp:blog-single' %}">
                                        <h3 class="blog-title">Get Some Usefull Car Maintanence Tips From Our Expets</h3>
                                    </a>
                                    <div class="text">
                                        <p>How all this mistaken ideas of denouncings and praising pains ut was born and I will give you a complete account of the system.</p>
                                    </div>
                                    <ul class="meta-info">
                                        <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Elliot</a></li>
                                        <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 60 Views</a></li>
                                        <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 25 Comments</a></li>
                                    </ul>
                                </div>    
                            </div>    
                        </div>
                        <!--End single blog item-->
                    </div>
                    <!--Start post pagination-->
                    <div class="row">
                        <div class="col-md-12"> 
                            <ul class="post-pagination text-center">
                                <li><a href="#"><i class="fa fa-caret-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div> 
                    </div>
                    <!--End post pagination-->
                </div>
            </div>
        </div>
    </div>
</section> 
<!--End blog area-->                                                                        
  
<!--Start footer area-->  
{% block footer %}
{% endblock %}
<!--End footer area-->

<!--Start footer bottom area-->
{% block footer_bottom %}
{% endblock %}
<!--End footer bottom area-->

</div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-chevron-circle-up"></span></div>

<!-- main jQuery -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery-1.11.1.min.js"></script>
<!-- Wow Script -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/wow.js"></script>
<!-- bootstrap -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/bootstrap.min.js"></script>
<!-- bx slider -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.bxslider.min.js"></script>
<!-- count to -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.countTo.js"></script>
<!-- owl carousel -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/owl.carousel.min.js"></script>
<!-- validate -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/validation.js"></script>
<!-- mixit up -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.mixitup.min.js"></script>
<!-- easing -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.easing.min.js"></script>
<!-- gmap helper -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
<!--gmap script-->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/gmaps.js"></script>
<script src="../../static/webapp/mechanichub-pack/Html-File/js/map-helper.js"></script>
<!-- fancy box -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.fancybox.pack.js"></script>
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.appear.js"></script>
<!-- isotope script-->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/isotope.js"></script>
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.prettyPhoto.js"></script>
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.bootstrap-touchspin.js"></script>
<!-- jQuery timepicker js -->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/timepicker/timePicker.js"></script>
<!-- Bootstrap select picker js -->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/bootstrap-sl-1.12.1/bootstrap-select.js"></script>
<!-- Bootstrap bootstrap touchspin js -->
<!-- jQuery ui js -->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/jquery-ui-1.11.4/jquery-ui.js"></script>
<!-- Language Switche  -->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/language-switcher/jquery.polyglot.language.switcher.js"></script>
<!-- Html 5 light box script-->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/html5lightbox/html5lightbox.js"></script>


<!-- revolution slider js -->
{% block slider %}
{% endblock %}

<!-- thm custom script -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/custom.js"></script>





</body>
</html>