{% extends 'webapp/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Services Single || MechanicHub || Responsive HTML 5 Template</title>

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- master stylesheet -->
	<link rel="stylesheet" href="../../static/webapp/mechanichub-pack/Html-File/css/style.css">
	<!-- Responsive stylesheet -->
	<link rel="stylesheet" href="../../static/webapp/mechanichub-pack/Html-File/css/responsive.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/webapp/mechanichub-pack/Html-File/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../../static/webapp/mechanichub-pack/Html-File/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../static/webapp/mechanichub-pack/Html-File/images/favicon/favicon-16x16.png" sizes="16x16">

    <!-- Fixing Internet Explorer-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="../../static/webapp/mechanichub-pack/Html-File/js/html5shiv.js"></script>
    <![endif]-->
    
</head>
<body>
<div class="boxed_wrapper">

<!--Start Preloader -->
<div class="preloader"></div>
<!--End Preloader --> 

<!--Start top bar area-->
{% block top-bar-area %}
{% endblock %}
<!--End top bar area-->  

<!--Start mainmenu area-->
{% block mainmenu %}
{% endblock %}
<!--End mainmenu area-->

<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(../../static/webapp/mechanichub-pack/Html-File/images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Belts & Hoses</h1>
	            </div>
	        </div>
	    </div>
	</div>
    <div class="breadcrumb-botton">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="left">
                        <li><a href="{% url 'webapp:home' %}">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">Service Single</li>
                    </ul>   
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area--> 

<!--Start service single area-->
<section id="service-single-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <div class="service-single-content">
                    <!--Start top content -->
                    <div class="row top-content">
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="text-holder">
                                <div class="sec-title">
                                    <h1>Belts & Hoses</h1>
                                    <span class="border"></span>
                                </div>
                                <div class="text">
                                    <span>We building a better experience for car owners</span>
                                    <p class="top">All new vehicles leave the factory with their alignment checked and adjusted. Usually the technician paints the heads of the adjustment hardware to show it has been set, also to show if it has moved later on.It is advisable to do the alignment of the car after the first 5000 km, since all the suspension get set. Failure to do this may result in the camber and toe specifications drifting outside the manufacturer's limit. This may lead to vehicle pulling and tire wear.</p>
                                    <p>Complete account of the systems and expound the actually teachings of the great explorer of the truth, the master-builder of human uts happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful anyone who loves or pursues.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="img-box">
                                <div class="single-img-box">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/services/single-service/v8-1.jpg" alt="Awesome Image">
                                </div>
                                <div class="single-img-box">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/services/single-service/v8-2.jpg" alt="Awesome Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End top content -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border"></div>
                        </div>
                    </div>
                    <!--Start middle content-->
                    <div class="row middle-content">
                        <div class="sec-title">
                            <h1>Why Choose Us</h1>
                            <span class="border"></span>
                        </div>
                        <div class="col-md-5">
                            <div class="video-holder">
                                <img src="../../static/webapp/mechanichub-pack/Html-File/images/services/single-service/video-gallery.jpg" alt="Awesome Video Gallery">
                                <div class="overlay-gallery">
                                    <div class="icon-holder">
                                        <div class="icon">
                                            <a class="html5lightbox" title="MechanicHub Video Gallery" href="https://www.youtube.com/watch?v=i3F91KKbGd0">
                                                <img src="../../static/webapp/mechanichub-pack/Html-File/images/icon/play-btn-1.png" alt="Play Button">
                                            </a>   
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="text-holder">
                                <div class="text">
                                    <p>Actually teachings of the great explorer of the truth, the master-builder of human uts happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because who do not consequences.</p>
                                    <ul>
                                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>Engine oil level should be regularly checked</li>
                                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>Tyres have a minimum of 1.6mm of tread depth</li>
                                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>Ensure that the electrolyte level is correct</li>
                                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>Never remove the radiator when the engine is hot</li>
                                        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>Ensure that your vehicle's brake fluid is full</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End middle content-->
                    <!--Start bottom content-->
                    <div class="row bottom-content">
                        <div class="col-md-12">
                            <div class="accordion-box">
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn"><h4>We handle a wide range of car services</h4></div>
                                    <div class="accord-content">
                                        <p>The master-builder of human happiness one rejects, dislikes avoid pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure packages and web page editors now use uncover this mistaken idea and I will give you a complete of the truth, the master-builder of human happiness.</p>
                                    </div>
                                </div>
                                <!--End single accordion box--> 
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn active"><h4>We handle a wide range of car services</h4></div>
                                    <div class="accord-content collapsed">
                                        <p>The master-builder of human happiness one rejects, dislikes avoid pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure packages and web page editors now use uncover this mistaken idea and I will give you a complete of the truth, the master-builder of human happiness.</p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                                <!--Start single accordion box-->
                                <div class="accordion accordion-block">
                                    <div class="accord-btn"><h4>Pipe Connection</h4></div>
                                    <div class="accord-content">
                                        <p>The master-builder of human happiness one rejects, dislikes avoid pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure packages and web page editors now use uncover this mistaken idea and I will give you a complete of the truth, the master-builder of human happiness.</p>
                                    </div>
                                </div>
                                <!--End single accordion box-->
                            </div>    
                        </div>
                    </div>
                    <!--End bottom content-->
                    <!--Start Consultation form-->
                    <div class="plans-content">
                        <div class="sec-title">
                            <h1>Maintenance Plans</h1>
                            <span class="border"></span>
                        </div>
                        <div class="row">
                            <!--Start single box-->
                            <div class="col-md-4">
                                <div class="single-box text-center">
                                    <div class="title">
                                        <h3>Monthly</h3>
                                    </div>
                                    <div class="content">
                                        <h1><span>$</span>29<b>/Mo</b></h1>
                                        <span>$29 Special for every month</span>
                                    </div>
                                    <div class="button">
                                        <a class="thm-btn" href="#">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                            <!--End single box-->
                            <!--Start single box-->
                            <div class="col-md-4">
                                <div class="single-box text-center">
                                    <div class="title">
                                        <h3>Yearly</h3>
                                    </div>
                                    <div class="content">
                                        <h1><span>$</span>59<b>/Mo</b></h1>
                                        <span>Special for Yearly Maintenance</span>
                                    </div>
                                    <div class="button">
                                        <a class="thm-btn" href="#">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                            <!--End single box-->
                            <!--Start single box-->
                            <div class="col-md-4">
                                <div class="single-box text-center">
                                    <div class="title">
                                        <h3>Lifetime</h3>
                                    </div>
                                    <div class="content">
                                        <h1><span>$</span>99<b>/Mo</b></h1>
                                        <span>$99 for Lifetime Maintenance</span>
                                    </div>
                                    <div class="button">
                                        <a class="thm-btn" href="#">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                            <!--End single box-->
                        </div>
                    </div>
                    <!--End Consultation form-->
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 pull-left">
                <div class="service-single-sidebar">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <ul class="service-lists">
                            <li><a href="{% url 'webapp:wheel-works' %}">Wheel Works</a></li>
                            <li><a href="{% url 'webapp:painting-works' %}">Painting Works</a></li>
                            <li><a href="{% url 'webapp:air-conditioner' %}">Air Conditioner</a></li>
                            <li><a href="{% url 'webapp:water-service' %}">Water Service</a></li>
                            <li><a href="{% url 'webapp:engine-works' %}">Engine Works</a></li>
                            <li><a href="{% url 'webapp:oil-filters' %}">lube Oil & Filters</a></li>
                            <li><a href="{% url 'webapp:brake-repairs' %}">Brake Repairs</a></li>
                            <li class="active"><a href="{% url 'webapp:belts-hoses' %}">Belts & Hoses</a></li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="title">
                            <h3>Our Brochures</h3>
                        </div>
                        <ul class="brochures-dwn-link">
                            <li>
                                <a href="#">
                                    <div class="icon-holder">
                                        <span class="flaticon-pdf-file-symbol"></span>    
                                    </div>
                                    <div class="title-holder">
                                        <h5>Research Results</h5>
                                        <span>Download.pdf</span>    
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="icon-holder">
                                        <span class="flaticon-file"></span>    
                                    </div>
                                    <div class="title-holder">
                                        <h5>Material Engineering</h5>
                                        <span>Download.txt</span>    
                                    </div>
                                </a>
                            </li>
                        </ul> 
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="sidebar-testimonial">
                            <div class="text-box">
                                <p>They have got my project on time with competition well organized and very experienced team of professional engineers and good leaders.</p>
                            </div>
                            <div class="client-info">
                                <div class="img-box">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/testimonial/2.png" alt="Client Photo">
                                </div>
                                <div class="title-box">
                                    <h4>Mark Vilton - <span>Villo Ceo</span></h4>
                                    <div class="review-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <!--End single sidebar-->
                </div>
            </div>
            
        </div>
    </div>    
</section>
<!--End service single area-->

<!--Start footer area-->  
{% block footer %}
{% endblock %}
<!--End footer area-->

<!--Start footer bottom area-->
{% block footer_bottom %}
{% endblock %}
<!--End footer bottom area-->

</div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-chevron-circle-up"></span></div>

<!-- main jQuery -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery-1.11.1.min.js"></script>
<!-- Wow Script -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/wow.js"></script>
<!-- bootstrap -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/bootstrap.min.js"></script>
<!-- bx slider -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.bxslider.min.js"></script>
<!-- count to -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.countTo.js"></script>
<!-- owl carousel -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/owl.carousel.min.js"></script>
<!-- validate -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/validation.js"></script>
<!-- mixit up -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.mixitup.min.js"></script>
<!-- easing -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.easing.min.js"></script>
<!-- gmap helper -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
<!--gmap script-->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/gmaps.js"></script>
<script src="../../static/webapp/mechanichub-pack/Html-File/js/map-helper.js"></script>
<!-- fancy box -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.fancybox.pack.js"></script>
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.appear.js"></script>
<!-- isotope script-->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/isotope.js"></script>
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.prettyPhoto.js"></script>
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.bootstrap-touchspin.js"></script>
<!-- jQuery timepicker js -->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/timepicker/timePicker.js"></script>
<!-- Bootstrap select picker js -->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/bootstrap-sl-1.12.1/bootstrap-select.js"></script>
<!-- Bootstrap bootstrap touchspin js -->
<!-- jQuery ui js -->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/jquery-ui-1.11.4/jquery-ui.js"></script>
<!-- Language Switche  -->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/language-switcher/jquery.polyglot.language.switcher.js"></script>
<!-- Html 5 light box script-->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/html5lightbox/html5lightbox.js"></script>


<!-- revolution slider js -->
{% block slider %}
{% endblock %}

<!-- thm custom script -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/custom.js"></script>





</body>
</html>