{% extends 'webapp/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shop Products || MechanicHub || Responsive HTML 5 Template</title>

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- master stylesheet -->
	<link rel="stylesheet" href="../../static/webapp/mechanichub-pack/Html-File/css/style.css">
	<!-- Responsive stylesheet -->
	<link rel="stylesheet" href="../../static/webapp/mechanichub-pack/Html-File/css/responsive.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/webapp/mechanichub-pack/Html-File/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../../static/webapp/mechanichub-pack/Html-File/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../static/webapp/mechanichub-pack/Html-File/images/favicon/favicon-16x16.png" sizes="16x16">

    <!-- Fixing Internet Explorer-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="../../static/webapp/mechanichub-pack/Html-File/js/html5shiv.js"></script>
    <![endif]-->
    
</head>
<body>
<div class="boxed_wrapper">

<!--Start Preloader -->
<div class="preloader"></div>
<!--End Preloader --> 

<!--Start top bar area-->
{% block top-bar-area %}
{% endblock %}
<!--End top bar area-->  

<!--Start mainmenu area-->
{% block mainmenu %}
{% endblock %}
<!--End mainmenu area-->

<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(../../static/webapp/mechanichub-pack/Html-File/images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Shop Products</h1>
	            </div>
	        </div>
	    </div>
	</div>
    <div class="breadcrumb-botton">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="left">
                        <li><a href="{% url 'webapp:home' %}">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">Shop Products</li>
                    </ul>   
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area--> 

<!--Start shop area-->
<section class="shop-area">
    <div class="container">
        <div class="row">
            <!--Start shop content-->
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 pull-right">
                <div class="shop-content">
                    <div class="row showing-result-shorting">
                        <div class="col-md-12">
                            <div class="shorting pull-right">
                                <select class="selectmenu">
                                    <option selected="selected">Default Sorting</option>
                                    <option>Default Sorting one</option>
                                    <option>Default Sorting Two</option>
                                    <option>Default Sorting Three</option>
                                </select>
                            </div> 
                            <div class="showing pull-left">
                                <p>Showing 1-9 of 12 results</p>
                            </div>     
                        </div>
                    </div>
                    <div class="row">
                        <!--Start single product item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/shop/1.jpg" alt="Awesome Product Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:shop-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <div class="top clearfix">
                                        <div class="product-title pull-left">
                                            <h5>Air Filter</h5>
                                        </div>
                                        <div class="review-box pull-right">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>    
                                    </div>
                                    <div class="product-value">
                                        <h4>$25.99 <del>$ 35.99</del></h4>
                                    </div>
                                    <div class="button">
                                        <a class="thm-btn" href="{% url 'webapp:shopping-cart' %}">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single product item-->
                        <!--Start single product item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/shop/2.jpg" alt="Awesome Product Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:shop-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <div class="top clearfix">
                                        <div class="product-title pull-left">
                                            <h5>Tool Box</h5>
                                        </div>
                                        <div class="review-box pull-right">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>    
                                    </div>
                                    <div class="product-value">
                                        <h4>$34.99</h4>
                                    </div>
                                    <div class="button">
                                        <a class="thm-btn" href="{% url 'webapp:shopping-cart' %}">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single product item-->
                        <!--Start single product item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/shop/3.jpg" alt="Awesome Product Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:shop-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <div class="top clearfix">
                                        <div class="product-title pull-left">
                                            <h5>Spark Plug</h5>
                                        </div>
                                        <div class="review-box pull-right">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>    
                                    </div>
                                    <div class="product-value">
                                        <h4>$19.00 <del>$ 24.99</del></h4>
                                    </div>
                                    <div class="button">
                                        <a class="thm-btn" href="{% url 'webapp:shopping-cart' %}">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single product item-->
                        <!--Start single product item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/shop/4.jpg" alt="Awesome Product Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:shop-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <div class="top clearfix">
                                        <div class="product-title pull-left">
                                            <h5>Wireset Bunch</h5>
                                        </div>
                                        <div class="review-box pull-right">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>    
                                    </div>
                                    <div class="product-value">
                                        <h4>$34.99</h4>
                                    </div>
                                    <div class="button">
                                        <a class="thm-btn" href="{% url 'webapp:shopping-cart' %}">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single product item-->
                        <!--Start single product item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/shop/5.jpg" alt="Awesome Product Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:shop-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <div class="top clearfix">
                                        <div class="product-title pull-left">
                                            <h5>Spark Plug</h5>
                                        </div>
                                        <div class="review-box pull-right">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>    
                                    </div>
                                    <div class="product-value">
                                        <h4>$19.00</h4>
                                    </div>
                                    <div class="button">
                                        <a class="thm-btn" href="{% url 'webapp:shopping-cart' %}">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single product item-->
                        <!--Start single product item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/shop/6.jpg" alt="Awesome Product Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:shop-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <div class="top clearfix">
                                        <div class="product-title pull-left">
                                            <h5>Speed Meter</h5>
                                        </div>
                                        <div class="review-box pull-right">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>    
                                    </div>
                                    <div class="product-value">
                                        <h4>$25.99 <del>$ 35.99</del></h4>
                                    </div>
                                    <div class="button">
                                        <a class="thm-btn" href="{% url 'webapp:shopping-cart' %}">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single product item-->
                        <!--Start single product item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/shop/7.jpg" alt="Awesome Product Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:shop-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <div class="top clearfix">
                                        <div class="product-title pull-left">
                                            <h5>Wheel Sets</h5>
                                        </div>
                                        <div class="review-box pull-right">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>    
                                    </div>
                                    <div class="product-value">
                                        <h4>$34.99</h4>
                                    </div>
                                    <div class="button">
                                        <a class="thm-btn" href="{% url 'webapp:shopping-cart' %}">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single product item-->
                        <!--Start single product item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/shop/8.jpg" alt="Awesome Product Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:shop-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <div class="top clearfix">
                                        <div class="product-title pull-left">
                                            <h5>Auto Brakes</h5>
                                        </div>
                                        <div class="review-box pull-right">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>    
                                    </div>
                                    <div class="product-value">
                                        <h4>$19.00</h4>
                                    </div>
                                    <div class="button">
                                        <a class="thm-btn" href="{% url 'webapp:shopping-cart' %}">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single product item-->
                        <!--Start single product item-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-product-item">
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/shop/9.jpg" alt="Awesome Product Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="{% url 'webapp:shop-single' %}"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <div class="top clearfix">
                                        <div class="product-title pull-left">
                                            <h5>Gear Box</h5>
                                        </div>
                                        <div class="review-box pull-right">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>    
                                    </div>
                                    <div class="product-value">
                                        <h4>$34.99</h4>
                                    </div>
                                    <div class="button">
                                        <a class="thm-btn" href="{% url 'webapp:shopping-cart' %}">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single product item-->
                        
                    
                       
                        
                       
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12"> 
                            <ul class="post-pagination text-center">
                                <li><a href="#"><i class="fa fa-caret-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div> 
                    </div>
                </div>
            </div>
            <!--End shop content-->
            <!--Start sidebar Wrapper-->
            <div class="col-lg-3 col-md-7 col-sm-7 col-xs-12 pull-left">
                <div class="sidebar-wrapper">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <form class="search-form" action="#">
							<input placeholder="Search..." type="text">
							<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Categories</h3>
                        </div>
                        <ul class="categories clearfix">
                            <li><a href="#">Car Accessories</a></li>
                            <li><a href="#">Engine Spares</a></li>
                            <li><a href="#">Air Filter & Cleaner</a></li>
                            <li><a href="#">Wires & Plugs</a></li>
                            <li><a href="#">Tools & Motors</a></li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar--> 
                    <!--Start single sidebar--> 
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Filter By Price</h3>
                        </div>
                        <div class="price-ranger">
                            <div id="slider-range"></div>
                            <div class="ranger-min-max-block">
                                <input type="submit" value="Filter">
                                <span>Price:</span>
                                <input type="text" readonly class="min"> 
                                <span>-</span>
                                <input type="text" readonly class="max">
                            </div>
                        </div>
                    </div>
                    <!--End single sidebar-->
                    <!--End single sidebar-->
                    <!--Start single sidebar--> 
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Popular Products</h3>
                        </div>
                        <ul class="popular-product">
                            <li>
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/shop/product-thumb-1.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <a href="#">
                                        <h4>Air Filter</h4>
                                    </a>
                                    <h5>$25.99</h5>
                                    <div class="review-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div> 
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/shop/product-thumb-2.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <a href="#">
                                        <h4>Wheel Sets</h4>
                                    </a>
                                    <h5>$19.00</h5>
                                    <div class="review-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div> 
                            </li>
                            <li>
                                <div class="img-holder">
                                    <img src="../../static/webapp/mechanichub-pack/Html-File/images/shop/product-thumb-3.jpg" alt="Awesome Image">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <a href="#">
                                        <h4>Speed Meter</h4>
                                    </a>
                                    <h5>$24.99</h5>
                                    <div class="review-box">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div> 
                            </li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar--> 
                    <div class="single-sidebar">
                        <div class="sec-title">
                            <h3>Tag Cloud</h3>
                        </div>
                        <ul class="product-tag">
                            <li><a href="#">Repairs</a></li>
                            <li><a href="#">Tuning</a></li>
                            <li><a href="#">Tips</a></li>
                            <li><a href="#">Disgnostics</a></li>
                            <li><a href="#">Painting</a></li>
                            <li><a href="#">Maintenance</a></li>
                            <li><a href="#">Wheels</a></li>
                            <li><a href="#">Bodies</a></li>
                            <li><a href="#">Belts</a></li>
                            <li><a href="#">Heating</a></li>
                        </ul>   
                    </div>
                    <!--End single sidebar--> 
                </div>    
            </div>
            <!--End Sidebar Wrapper-->  
        </div>
    </div>
</section>
<!--End shop area-->
 
<!--Start footer area-->  
{% block footer %}
{% endblock %}
<!--End footer area-->

<!--Start footer bottom area-->
{% block footer_bottom %}
{% endblock %}
<!--End footer bottom area-->

</div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-chevron-circle-up"></span></div>

<!-- main jQuery -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery-1.11.1.min.js"></script>
<!-- Wow Script -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/wow.js"></script>
<!-- bootstrap -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/bootstrap.min.js"></script>
<!-- bx slider -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.bxslider.min.js"></script>
<!-- count to -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.countTo.js"></script>
<!-- owl carousel -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/owl.carousel.min.js"></script>
<!-- validate -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/validation.js"></script>
<!-- mixit up -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.mixitup.min.js"></script>
<!-- easing -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.easing.min.js"></script>
<!-- gmap helper -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
<!--gmap script-->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/gmaps.js"></script>
<script src="../../static/webapp/mechanichub-pack/Html-File/js/map-helper.js"></script>
<!-- fancy box -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.fancybox.pack.js"></script>
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.appear.js"></script>
<!-- isotope script-->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/isotope.js"></script>
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.prettyPhoto.js"></script>
<script src="../../static/webapp/mechanichub-pack/Html-File/js/jquery.bootstrap-touchspin.js"></script>
<!-- jQuery timepicker js -->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/timepicker/timePicker.js"></script>
<!-- Bootstrap select picker js -->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/bootstrap-sl-1.12.1/bootstrap-select.js"></script>
<!-- Bootstrap bootstrap touchspin js -->
<!-- jQuery ui js -->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/jquery-ui-1.11.4/jquery-ui.js"></script>
<!-- Language Switche  -->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/language-switcher/jquery.polyglot.language.switcher.js"></script>
<!-- Html 5 light box script-->
<script src="../../static/webapp/mechanichub-pack/Html-File/assets/html5lightbox/html5lightbox.js"></script>


<!-- revolution slider js -->
{% block slider %}
{% endblock %}

<!-- thm custom script -->
<script src="../../static/webapp/mechanichub-pack/Html-File/js/custom.js"></script>





</body>
</html>